dashboard/.next/
dashboard/node_modules/
dashboard/.dev.stdout.log
dashboard/.dev.stderr.log
.env
/.pytest_cache
/sdk/__pycache__
/sdk/.venv
/api/__pycache__
/api/db/__pycache__
/api/.venv
/supabase/__pycache__
sdk/verdant/__pycache__